$primary_color: #003b95;
$spacer: 1rem;
$white: #fff;
$black: #000;
$font-color: #333;
$bg-btn: rgb(0, 113, 194);
$bg-hover-btn: rgba(0,113,194,0.06);
$bg-hover-nav-item: #1a4a8d;
$bg-search: #febb02;
$lable-color: #444;