$primary_color: #003580;
$spacer: 1rem;

body {
    overflow-y: scroll;
}

.px-4-5 {
    padding-right: ($spacer * 2) !important;
    padding-left: ($spacer * 2) !important;
}

@media (min-width: 1400px) {
    .container {
      width: 1140px;
    }
}

.header {
    background-color: $primary_color;
}

.btn {
    position: relative;
    border-radius: 2px;
    border: 1px solid #0071c2;
    font-weight: 500;
    color: #0071c2;
    background-color: #fff;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: transparent;
    }
    &:hover {
        color: #0071c2;
        background-color: #fff;
        &::before {
            background-color: rgba(0,113,194,0.06);
        }
    }
}